.body {
  backgroundColor: "theme.palette.background.paper";
  width: "500";
  display: "flex";
  justifyContent: "center";
  alignItems: "flex-end";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
